/* google fonts */
*{
    margin: 0; padding: 0;
    box-sizing: border-box;
    text-decoration: none; list-style: none;
    outline: none; border: none;
    transition: all .2s linear;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}


body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #313131;
    overflow-x: hidden;
    padding-left: 35rem;
}

section {
    min-height: 100vh;
    padding: 2rem;
}

header {
    position: fixed;
    top:0; left: 0;
    z-index: 1000;
    height: 100%;
    width: 300px;
    background-color: #1a1a1a;
    display: flex;
    flex-flow: column;
    color: #fff;
    text-align: center;
    padding: 20px;
    transition: left 0.4s ease-in-out;

}

/* media queries */

@media(max-width:1200px) {
    html {
        font-size: 55%;
    }
    #home {
        padding: 1rem 4rem;
    }
}

@media(max-width:990px) {
    header {
        left: -120%;
    }

   svg.menu {
        display: block;
    }

    header.header-visible{
        left: 0%;
    }
    body {
        padding: 0 ;
    }
}

@media(max-width:768px) {
    html {
        font-size: 55%;
    }
}


@media(max-width:400px) {
    header {
        width: 90%;
    }
    body {
        padding: 1rem 0 ;
        
    }


}

.menu-bar .image-section img {
    width: 220px;
    height: 220px;
    border-radius: 75%;
    object-fit: cover;
    margin-top: 20px;

}

.menu-bar .image-section .name {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.menu-bar .image-section .post {
    font-size: 16px;

}

.menu-bar .navbar {
    width: 100%;
}

.menu-bar .navbar ul {
    text-align: center;
    padding: 10px 10px;
    list-style: none;
}

.menu-bar .navbar ul li{
    margin: 20px;
}

.menu-bar .navbar ul li a{
    color: #fff;
    display: block;
    padding: 10px;
    margin: 10px 0;
    background-color: #333;
    font-size: 15px;
    border-radius: 30px;

}

.menu-bar .navbar ul li a:hover {
    background: #292925;
}

.menu {
    display: none;
    margin-right: 10px;
    position: fixed;
    top: 20px;
    right: 2px;
    fill:#fff;
    line-height: 80px;
    cursor: pointer;
}

#home {
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 5rem;
    animation: slideIn 3s both;
}

#home .content{
    padding: 2rem;
    margin: 1em;
    margin-bottom: 1rem;
}
#home .content h3 {
    font-size: 2rem;
    color: #fff;
}

#home .content h1 {
    font-size:5rem;
    color: #fff;
}
#home .content span{
    color: #efdf34;
}

#home .content p {
    font-size:2rem;
    color:  #74ce46;
    padding: 1rem 0;
}

#home .content .title{
    text-transform: uppercase;
    color: #fff;
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: normal;
}

#home .content .info a{
    display: inline-block;
    align-items: center;
    padding: 1rem 0;
}

#home .content .info a svg{
    padding-right: 1rem;
    color: #aaa;
    margin-left: 1rem;
}

.btn {
    padding: 0.5rem 3rem;
    background: #4a4949;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 1.5rem;
    border-radius: 5rem;
}

.btn i {
    padding: 0 0.5rem;
    font-size: 1.8rem;
}

.btn:hover {
    background: #292925;
}

.heading {
    text-align: center;
    margin: 0 6rem;
    font-size: 3rem;
    padding: 1rem;
    border-bottom: 0.3rem solid #fff4;
    color: #fff;
}
.heading span{
    color: #efdf34;
}

.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 1rem 0;
    animation: slideIn 3s both;
}

.about .row .info{

    flex: 1 1 48rem;
    padding: 2rem 1rem;
    padding-left: 6rem;
}

.about .row .counter{
    flex: 1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.about .row .info h3 {
    font-size: 2rem;
    color: #efdf34;
    padding: 1rem 0;
    font-weight: normal;

}
.about .row .info h3 span{
    color: #fff;
    padding: 0 .5rem;

}

.about .row .counter .box{
    width: 20rem;
    background:#4a4949;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color: #efdf34;
}

.about .row .counter .box h3{
    font-size: 2rem;
    color: #fff;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 1rem 0;
    padding-left: 3rem;
    animation: slideIn 3s both;
}

.education .box-container .box{
    width: 27rem;
    margin: 4rem 1rem;
    padding-left: 4rem;
    border-left: .3rem solid #fff4;
    position: relative;

}

.education .box-container .box span{
    font-size: 1.3rem;
    background: #222;
    color: #fff;
    border-radius: 5rem;
    padding: 0.5rem 2.5rem;

}

.education .box-container .box h3{
    font-size: 2rem;
    color: #fff;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color: #eee;
    padding-top: 1rem 0;
}

.education .box-container .box svg{
    position: absolute;
    top: -1.5rem;left: -2.5rem;
    height: 5rem;
    width: 5rem;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    border-radius: 50%;
    color: #fff;
    background: rgb(210, 210, 20);
}

.portfolio .box-container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding: 2rem 0;
    animation: slideIn 3s both;
}

.portfolio .box-container .box{
    height: 20rem;
    width: 26rem;
    border-radius: 1rem;
    margin: 2rem;
    overflow: hidden;
    cursor: pointer;

}

.portfolio .box-container .box img{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.portfolio .box-container .box:hover img{
    transform: scale(1.2);
}

.contact form{
    width: 100%;
    padding: 2rem;
    align-items: center;
    justify-content: center;
    animation: slideIn 3s both;
}

/*.contact form{
    flex: 1 1 45rem;
    padding: 2rem;
    margin: 2rem;
    margin-top: 1rem;
}*/

.contact form .box{
    padding: 1.5rem;
    margin: 1rem 0;
    background: #4a4949;
    color: #fff;
    font-size: 1.7rem;
    width: 100%;
   
}

.contact form .message{
    height: 15rem;
}
.contact form button{
    display: flex;
}

/* Animation   */

@keyframes slideIn {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes zoomIn {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}